imageai
inflect
keras_ocr
streamlit
nltk
opencv_python
pandas
Pillow
pytorch_lightning
scikit_learn
torch
torchvision
transformers
ultralytics
smart_open
gTTS
numpy
python-dotenv
sentencepiece
happytransformer
num2words
docopt


