gTTS==2.2.3
happytransformer==2.4.1
imageai==3.0.3

inflect
keras_ocr==0.9.3
num2words==0.5.12
numpy==1.24.3
opencv_python==4.8.0.76
Pillow==11.1.0
sentencepiece==0.1.99
streamlit==1.42.0
torch==2.0.1
torchvision==0.15.2
transformers==4.30.2
ultralytics==8.0.202
